<div class="row">
  <div class="small-10 medium-6 columns">
		<a href='#' edit-todo-action>{{task}}</a>
	</div>
  <div class="medium-2 columns show-for-medium-up">{{priorityLabel priority}}</div>
  <div class="medium-2 columns show-for-medium-up">{{formatDate dueDate}}</div>
  <div class="small-2 medium-2 columns">{{checkbox completed}}</div>
</div>
<div class="row show-for-small-only">
  <div class="small-6 columns"><small>Priority: {{priorityLabel priority}}</small></div>
  <div class="small-6 columns"><small>Due Date: {{formatDate dueDate}}</small></div>
</div>
<div class="row">
	<div class="small-12"><hr></div>
</div>
